# Compiled Java files
*.class
jes/javadoc/

# Generated Java files
jes/java/JESVersion.java

# Built releases
releases/*.*
releases/stage
!releases/build-releases.xml

# Files created during testing
tests/test-output/*
!tests/test-output/README

# Jython cache
jython-cache/

# JES-generated backup and log files
*.pybak
*.pylog

.firsttimebuilding
